


body {
    
    border-style: solid;
    border-color: black;

    background-color: rgb(204, 132, 25);

    
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 30px; 

}

h1{
    font-size: 25px;
    margin: 100px 0px 0px 500px;
    display: inline-block;

}

h2,h3 {
    font-size: 25px;
    display: inline-block;
}

h4 
{

}

h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
}


p{ 
 
    
     padding-top: 10px;
     padding-right: 20px;
     padding-bottom: 10px;
     padding-left: 20px; 
    
}